.contact-form h1 {
    text-align: center;
}

.contact-form form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.contact-form form input {
    height: 40px;
    margin-top: 1.5rem;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.contact-form form textarea {
    margin-top: 1.5rem;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.contact-form form button {
    width: 40%;
    height: 40px;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1rem;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    cursor: pointer;
}

.contact-form form button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width : 700px){
    .contact-form form{
        width: 90%;
    }
}

